body {
    overflow: scroll !important;
    background-color: #2d2d2d !important;
    color: #f5f5f5;
}

.Top_content {
    position: relative;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
  }

  .Top_content a:visited {
    color: rgba(230,230,230,1);
  }

  .main_content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background: #241a08;
  }

  .main_content a {
      text-decoration: none;
      color: rgba(230,230,230,1);
  }

  .main_content a:visited {
      color: rgba(210,210,210,1);
  }

  .content {
      display: flex;
      background-color: rgba(0,123,187,0.5);
      text-align: center;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      width:25em;
      border: whitesmoke 3px solid;
      margin: 1em;
  }

  .heading h1 {
    font-family: 'Lexend Mega', sans-serif;
      padding-top: 1em;
      color: #e8ecef;
      font-weight: lighter;
    /*  border: 2px solid #84b9cb;*/
  }

  p.hd_caption {
     font-style: italic;
     text-decoration: underline;
     color: #f8f8f8;
  }

  .dtl_content p {
      align-items: center;
      max-width: 23em;
      color: #f0e9ed ;
  }

/*以下Footer*/

  .twitter-timeline {
      height: 10vh;
  }

.footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #081224;
    width: 100vw;
    height: 8em;
}

.footer p {
    color: #f0e9ed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer_sns+.footer_menu {
    margin: 3em;
}

h2.footer_text {
    color: #f0e9ed;
    font-family: 'Lexend Mega', sans-serif;
}

.footer_menu li {
    display: flex;
    flex-direction: row;
}

.more_content a {
    text-decoration: underline;
}

.footer_menu {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.footer :link{
    color: #f0e9ed;
    text-decoration: none;
}

.footer a:visited {
    color: #f0e9ed;
    text-decoration: none;
}

.footer a:hover {
    color: #a39da0;
    text-decoration: none;
}


.footer_sns {
    color: #f0e9ed;
}

.footer_sns ion-icon {
    font-size: 1.5em;
}

.footer_text li {
    color: #f0e9ed;
}

.footer_menu .copy {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: end;
    align-items: flex-end;
}

.footer_menu ul li a {
    font-weight: lighter;
}

.footer_menu p {
    font-size: small;
    font-weight: lighter;
}

@media screen and (max-width: 400px) {
    .main_content_bg {
        color: black !important;
        font-weight: bolder !important;
    }
    .main_content_bg .c_head {
        color: white !important;
    }
    .main_content_bg .c_head_capt {
        color: white !important;
    }
}