.main_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh; 
}

.main_content_bg {
    background: url('/mat/images/IMG_3782.jpg') ;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

.main_content::before {
    content: '';
    background: inherit;/*.bgImageで設定した背景画像を継承する*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;/*重なり順序を一番下にしておく*/
}

.main_content_t {
    margin-top: 2em;
    text-align: center;
}
 hr.c_head_pt {
    border: #fff1e793 solid 0.5px;
    width: 4em;
 }

.top_about_me_txt {
    padding-top: 3em;
}

/*.top_about_me_flex {
    display: flex;
}*/

footer.c_footer h2 {
    text-align: center !important;
}